@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #243746;
  --color-primary: #243746;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark {
  --color: #dbe1df;
  --color-primary: #dbe1df;
  --color-secondary: #fdf9f3;
  --bg: #121212;
  --bg-secondary: #1e1e1e;
  --border-color: #2a2a2a;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

a {
  color: var(--color-primary);
}

a:hover {
  opacity: 0.8;
}

.dark {
  color-scheme: dark;
}

/* Prose styles customized for each theme */
.prose {
  color: var(--color); /* Use main text color variable */
  max-width: 100%;
}

.prose a {
  color: var(--color-primary); /* Use primary color variable for links */
  text-decoration: underline;
}

.prose strong {
  color: var(--color); /* Use main text color variable */
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  color: var(--color); /* Use main text color variable */
}

.prose blockquote {
  color: var(--color-secondary); /* Use secondary text color variable */
}

.prose code {
  color: var(--color-secondary); /* Use secondary text color variable */
  background-color: var(--bg-secondary); /* Use secondary background variable */
}

.prose pre {
  color: var(--color); /* Use main text color variable */
  background-color: var(--bg-secondary); /* Use secondary background variable */
}

.prose hr {
  border-color: var(--border-color); /* Use border color variable */
} 